---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}

<body>
  <a class="skip-link" href="#main-content">Skip to main content</a>
  <div class="ambient ambient-one" aria-hidden="true"></div>
  <div class="ambient ambient-two" aria-hidden="true"></div>
  <div class="wrapper">
    {% include sidebar.html %}

    <main class="main-wrapper" id="main-content">
        {{ content }}
    </main>
  </div>

  {% include footer.html %}

{% include scripts.html %}
</body>

</html>
